
<div class="container">
    <div class="col-md-6">
    <div class="container" id="name">
        <div class="container">
            <h2 class="text-center">Best quotes</h2>
            <hr>
            <form>
                <div class="form-group">
          
                    <label for="name">Enter Name</label>
                    <input type="text" required class="form-control" id="name"col-md-6 size="20"[(ngModule)]="enterQuotes.name">
          
                </div>
                <div class="form-group"col-md-6>
          
                    <label for="description">Your-quote</label>
                    <textarea class="form-control" id="description" rows="4" required></textarea>
          
                </div>
                <button class="button btn bg-success"id="upload">Upload QuoteS</button>
          
              
            </form>
          </div>
        </div>